/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red;
}
#heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
#heroCenter {
  display: grid;
}
#NMU {
  width: 50%;
  cursor: pointer;
}
#Join {
  margin-top: 10%;
  padding: 10px;
  background-color: transparent;
}
