/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: red;
}
#navBar {
  position: relative;
  display: inline-block;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  text-align: start;
  /* ---------------------Someone Fix This----------------  */
  width: 100vw;
  height: 10vh;
  background-color: aqua;
  overflow: hidden;
}
nav img {
  position: relative;
  height: 100%;
}
#heroSection {
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: relative;
}
#heroCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}
#NMU {
  width: 10%;
  cursor: pointer;
}
#Join {
  cursor: pointer;
  margin-top: 10%;
  width: 10%;
  padding: 10px;
  border-width: 1px;
  background-color: transparent;
  transition: all 0.2s;
}
#Join:hover {
  background-color: yellow;
}
