/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --smallfont: 1.2rem;
  --mainfont: 1.7rem;
  --bigfont: 3.2rem;
  --yellow: rgb(255, 255, 5);
  text-decoration: none;
}
body {
  background-color: red;
  scroll-behavior: smooth;
}
#navBar {
  position: relative;
  display: inline-block;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  text-align: start;
  /* ---------------------Someone Fix This----------------  */
  width: 100vw;
  height: 10vh;
  background-color: aqua;
  overflow: hidden;
}
nav img {
  position: relative;
  height: 100%;
}
#heroSection {
  height: 100vh;
  display: inline-block;
  background-color: #fff;
  position: relative;
}
#heroTop {
  display: grid;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 85vh;
  overflow: hidden;
}
#heroCenter {
  position: relative;
  display: inline-block;
}
#NMU {
  position: relative;
  width: 40%;
  cursor: pointer;
}
#CS {
  font-size: var(--bigfont);
}
#Join {
  cursor: pointer;
  margin-top: 10%;
  width: 30%;
  padding: 10px;
  border-width: 1px;
  background-color: transparent;
  transition: all 0.2s;
  font-size: medium;
}
#Join:hover {
  background-color: var(--yellow);
}
#socialIcons {
  margin-top: 10%;
}
#socialIcons ion-icon {
  font-size: var(--mainfont);
  margin-right: 10%;
  cursor: pointer;
  border: solid 1px #000;
  border-radius: 100px;
  padding: 5px;
  transition: border 0.5s;
}
#socialIcons ion-icon:hover {
  border-color: var(--yellow);
}
